<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
is_ajax:{{ request.is_ajax }}<br/>
get_host:{{ request.get_host }}<br/>
content_type:{{ request.content_type }}<br/>
encoding:{{ request.encoding }}<br/>
method:{{ request.method}}<br/>
get_full_path:{{ request.get_full_path}}<br/>
COOKIES:{{ request.COOKIES}}<br/>

<hr/>
<a href="https://docs.djangoproject.com/en/2.0/ref/templates/builtins/" target="_blank">https://docs.djangoproject.com/en/2.0/ref/templates/builtins/</a><br/>
name:{{ name }}—{{ name | length }}<br/>
sex:{{ sex }}<br/>
default:{{ a | default:"a" }}<br/>
{% if user %}
    user:{{ users }}<br/>
{% else %}
    no user
{% endif %}
<hr/>
<a href="{% url "django_bootstrap_table:detail" %}?id=1"
   target="_blank">{% url "django_bootstrap_table:detail" %}?id=1</a>It is {% now "SHORT_DATETIME_FORMAT" %}
</body>
</html>